<div class="container mt-4 bg-light">
  <div class="mb-3">
    <div class="row mb-3">
      <span class="col-4 text-danger">
        全部欄位都必須填寫
      </span>
      <span class="col-8" id="createTitle">請輸入你的支出</span>
    </div>
    <form method="post" action="/records/{{record._id}}?_method=PUT">
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">名稱*</label>
        <div class="col-sm-10">
          <input type="name" class="form-control" id="name" name="name" value="{{record.name}}" required />
        </div>
      </div>
      <div class="row mb-3">
        <label for="date" class="col-sm-2 col-form-label">日期*</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" name="date" max="2500-12-31" value="{{record.date}}"
            required />
        </div>
      </div>
      <div class="row mb-3">
        <label for="category" class="col-sm-2 col-form-label">類別*:</label>
        <div class="col-sm-10">
          <select class="form-select" aria-label="category select" name="category" required>
            <option>選項</option>
            <option {{#if (match record.category "家居物業" )}}selected{{/if}} value="家居物業">家居物業</option>
            <option {{#if (match record.category "交通出行" )}}selected{{/if}} value="交通出行">交通出行</option>
            <option {{#if (match record.category "休閒娛樂" )}}selected{{/if}} value="休閒娛樂">休閒娛樂</option>
            <option {{#if (match record.category "餐飲食品" )}}selected{{/if}} value="餐飲食品">餐飲食品</option>
            <option {{#if (match record.category "其他" )}}selected{{/if}} value="其他">其他</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="category" class="col-sm-2 col-form-label">金額*:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}" required />
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-create mb-3">修改</button>
      </div>
    </form>
  </div>
</div>